.product-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-tem__description p {
    font-size: 13px;
}

.product-tem__picture img {
    max-width: 60px;
}

.quantity-block {
    display: flex;
    align-items: center;
    gap: 15px;

}

.plus,
.minus {
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
}

.quantity-product {
    font-size: 25px;
    line-height: 1;
}

.delete-delete {
    width: 25px;
    height: 25px;
    color: black;
    transition: color 0.3s ease 0s;
    cursor: pointer;
}
.delete-delete:hover {
    color: red;
    transform: scale(1.1);
}

